**/.git*
**/postgres-data*
**/db/*.sqlite3
**/db/*.sqlite3-journal
**/log/*
**/tmp/*
**/storage/*
**/gitbook/*
**/README.rdoc
Dockerfile.*
docker-compose.*
.env
.env.example
/public/assets/

# Development
.devcontainer/
.vscode/
docker/
./root_shell.sh
.scannerwork
